* {
	background-image: none;
  font-family: "CaskaydiaCove NF";
}
window {
	background-color: rgba(40, 40, 40, 0.7);
}
button {
  color: #ebdbb2;
	background-color: #282828;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #b16286;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/tilman/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/tilman/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/tilman/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/tilman/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/tilman/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/tilman/.config/wlogout/icons/reboot.png"));
}
